package ${custom.packageServiceImpl};

import ${custom.packageEntity}.${entity};
import ${custom.projectRootPkg}.model.${custom.model}.mapper.${table.mapperName};
#if(${table.serviceInterface})
import ${custom.projectRootPkg}.model.${custom.model}.service.${table.serviceName};
#end
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;

/**
 * <p>
 * #if(${table.comment} != "")$!{table.comment}#else${entity}#end 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>()#if(${table.serviceInterface}), ${table.serviceName}#end {

}
#else
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}>#if(${table.serviceInterface}) implements ${table.serviceName}#end {

}
#end
