package ${custom.packageParams}.${entity};

import com.supsp.supbackend.core.annotations.DbRequest;
import ${custom.packageParams}.${entity}.${entity}Filter;
import ${custom.packageParams}.${entity}.${entity}Params;
import com.supsp.supbackend.core.model.BaseEntityRequest;
import com.supsp.supbackend.core.model.IEntityRequest;
import ${custom.packageEntity}.${entity};
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import lombok.Builder;
import lombok.EqualsAndHashCode;
import lombok.AllArgsConstructor;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;
import lombok.extern.slf4j.Slf4j;
import com.fasterxml.jackson.annotation.JsonIgnore;

import java.io.Serial;

/**
 * <p>
 * #if(${table.comment} != "")$!{table.comment}#else${entity}#end 查询
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@EqualsAndHashCode(callSuper = true)
@Data
@Builder
@AllArgsConstructor
@NoArgsConstructor
@Accessors(chain = true)
@Slf4j
@DbRequest
@Schema(name = "${entity}Request", description = "#if(${table.comment} != "")$!{table.comment}#else${entity}#end 查询")
public class ${entity}Request
        extends BaseEntityRequest<${entity}Params, ${entity}Filter, ${entity}> implements IEntityRequest<${entity}Params, ${entity}Filter, ${entity}> {

    @Serial
    private static final long serialVersionUID = ${serial.RequestVersionUID}L;

    /**
     * unix 时间戳 [无需前端设置]
     */
    @Schema(title = "unix 时间戳", description = "无需前端设置")
    @JsonIgnore
    private Long currentTimestamp;

}
